DATABASE_URL=postgresql://...
ADMIN_PASSWORD=change-this
LINE_CHANNEL_ACCESS_TOKEN=
LINE_LIFF_ID=
APP_BASE_URL=https://your-app.onrender.com
MOCK_LOGIN=0

VOLUNTEER_WEBAPP_URL=https://script.google.com/macros/s/AKfycbwRsh7TUzKrHldH5-YJV_wH6JvtNOEu78mx0z0a7wKlMi8-6hwrthgR5DcJLe_A5lQxyw/exec
